<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logged In</title>
    <%- include('head') %>
  </head>
  <body>
    <div class="container" id="content">
      <button id="logout">Log Out</button>
      <h1>Hello <%= user %></h1>
      <p>You are logged in.</p>
      <p>Visit <a href="/" id="link">/</a>.</p>
    </div>

    <script>
      // make content visible, hidden by default, <noscript> content will show error message for non-JS browsers.
      const content = document.getElementById('content');
      content.style.display = 'block';

      // change title
      document.title = 'Logged in to ' + location.host;

      const logout = () => {
        fetch('/logout', {
          method: 'POST',
        }).then((response) => {
          // check for auth failure for other reasons
          if (response.status !== 200) {
            // auth failed
            alert('Log out failed');
            return;
          }

          // logout successful, redirect to login
          window.location.href = '/login';
        });
      };

      const buttonLogout = document.getElementById('logout');
      buttonLogout.addEventListener('click', (e) => {
        e.preventDefault();
        logout();
      });

      const visitLink = document.getElementById('link');
      visitLink.innerText = location.host;
      visitLink.href = location.protocol + '//' + location.host;
    </script>

    <noscript
      >JavaScript is not detected or enabled but it is required for this
      site.</noscript
    >
  </body>
</html>
