<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <%- include('head') %>
  </head>
  <body>
    <div class="container" id="content" style="display: none">
      <h1>Login</h1>
      <input type="password" name="password" id="password" />
      <input type="submit" value="Login" id="login" />
      <p id="message"></p>
    </div>

    <script>
      // make content visible, hidden by default, <noscript> content will show error message for non-JS browsers.
      const content = document.getElementById('content');
      content.style.display = 'block';

      // change title
      document.title = 'Log in to ' + location.host;

      // post password to /auth
      const login = (password) => {
        fetch('/login', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ password }),
        })
          .then((response) => {
            // check for auth failure for rejected credentials
            if (response.status === 401) return false;

            // check for auth failure for other reasons
            if (response.status !== 200) return false;

            // auth okay
            return response.json();
          })
          .then((data) => {
            if (data && data.status === 'ok') {
              // auth success, cookie should be set
              window.location.href = '/logged-in';
              return;
            }

            // auth failure, give feedback to user
            const message = document.getElementById('message');
            message.innerText = 'Authorisation failed';
          });
      };

      // handle password text field
      const input = document.getElementById('password');
      input.focus();
      input.addEventListener('keyup', (e) => {
        e.preventDefault();
        if (e.key === 'Enter') {
          const password = input.value;
          input.value = ''; // clear input
          login(password);
        }
      });

      // handle submit / login button
      const submit = document.getElementById('login');
      submit.addEventListener('click', (e) => {
        e.preventDefault();
        const password = input.value;
        input.value = ''; // clear input
        login(password);
      });
    </script>

    <noscript
      >JavaScript is not detected or enabled but it is required for this
      site.</noscript
    >
  </body>
</html>
